.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 12.5rem;
    margin: 0;
    padding: 0;
}


.spanBlue{
    color: var(--blue);
    font-size: 3rem;
}

.spanPurple{
    color: var(--purple);
    font-size: 3rem;
}

.container {
    width: auto;
    height: auto; 
    display: flex;
    align-items: center; 
    gap: 10px; 
}
.texto {
    display: flex;
    align-items: center; 
}

.img {
    height: 3rem; 
    width: auto; 
}